@use '../index.scss';

div.form-centerer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

input[type='text'] {
  height: 100%;
  width: 100%;
  background-color: index.$secondary-color;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 1.5px 1.5px 0px grey;
}

div.form {
  background-color: index.$tertiary-color;
  border-radius: 3%;

  width: 30%;
  flex: 1;

  margin: 2.5% auto;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 3%;

  padding: 1% 3% 1.5%;

  h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 2%;
  }

  .input-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4%;
  }

  .form-input-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;

    gap: 8%;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  input[type='text'],
  .form-element {
    width: 100%;
    flex-grow: 1;
    background-color: index.$secondary-color;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 1.5px 1.5px 0px grey;

    font-size: 28px;
    text-indent: 18px;
  }

  div.form-element {
    display: flex;
    align-items: center;
  }

  .form-label {
    margin: auto;
    padding: 5px 10px;

    background-color: index.$secondary-color;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 1.5px 1.5px 0px grey;

    font-size: 28px;
    white-space: nowrap;
  }

  .input-error {
    font-size: 18px;
    min-height: 18px;

    text-indent: 4px;

    align-self: flex-start;
    color: darkred;
  }

  div.submission {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    gap: 7px;

    div.submission-message {
      display: flex;
      align-content: center;
      justify-content: center;

      font-size: 24px;

      .failure {
        color: darkred;
      }

      .placeholder {
        min-height: 24px;
      }
    }
  }

  div.submission-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;

    width: 100%;

    button {
      padding: 0;
      border: none;
      background: none;
      margin-left: auto;
    }

    img.submission-arrow {
      height: 70px;
    }
  }

  a.alternate-form-text {
    all: unset;
    margin-left: 10%;
  }

  a.alternate-form-text:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px index.$primary-color);
  }
}
