@use '../index.scss';

div.header {
  background-color: index.$primary-color;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  h1 {
    font-weight: 400;

    color: white;
    padding-top: 35px;
    padding-bottom: 10px;
    font-size: 75px;
    margin: 0;
    line-height: 65%;
  }

  h1:hover {
    cursor: pointer;
  }

  div.options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a,
    button {
      all: unset;

      font-weight: 400;
      color: black;
      font-size: 30px;
      margin: 3px 0;
      text-align: center;
    }

    a.active {
      color: white;
    }

    a:hover,
    button:hover {
      cursor: pointer;
      color: white;
    }

    button.failure {
      color: red;
      filter: none !important;
      animation: shake 1s ease-in-out;
      animation-iteration-count: 1;
    }

    @keyframes shake {
      0%,
      40%,
      80% {
        transform: rotate(4deg);
      }
      20%,
      60%,
      100% {
        transform: rotate(-4deg);
      }
    }
  }
}
