@use 'index.scss';

div.content {
  display: flex;
  height: 100%;
  width: 40%;
  margin: auto;
}

div.form {
  background-color: index.$tertiary-color;
  width: 40%;
  border-radius: 3%;

  flex: 1;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-top: 10%;
  margin-bottom: 10%;

  padding-top: 5%;
  padding-bottom: 5%;

  h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 0 auto;
  }

  .form-row {
    display: flex;
    align-items: center;

    height: 14%;
    width: 80%;

    gap: 10%;

    margin-left: auto;
    margin-right: auto;
  }

  input[type='text'],
  .form-element {
    height: 100%;
    width: 100%;
    background-color: index.$secondary-color;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 1.5px 1.5px 0px grey;

    font-size: 30px;
    text-indent: 18px;
  }

  div.form-element {
    display: flex;
    align-items: center;
  }

  div.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
    width: 100%;
  }

  a.alternate-form-text {
    all: unset;
    margin-left: 20%;
  }

  a.alternate-form-text:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px index.$primary-color);
  }

  img.next-arrow {
    height: 80px;
    margin-left: auto;
    margin-right: 10%;
  }

  img.next-arrow:hover {
    cursor: pointer;
    rotate: 4deg;
    filter: drop-shadow(2px 4px 1px index.$primary-color);
  }
}
