$font-stack:
  Josefin Sans,
  sans-serif;
$primary-color: #00a676;
$secondary-color: #f7f9f9;
$tertiary-color: #e0d0c180;
$tertiary-color-dark: #e0d0c1cc;
$accent-color: #a76d60;
$base-color: #601700;

html,
body,
#root,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.content {
  height: 100%;
  width: 100%;
}

div.column {
  display: flex;
  flex-direction: column;
}

div.row {
  display: flex;
  flex-direction: rows;
}

img.avatar {
  background-color: $secondary-color;
  border-radius: 50%;
}

.nodisplay {
  display: none;
}

body {
  margin: 0;
  font-family: $font-stack, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-stack, source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
