@use 'index.scss';

ul.message-list {
  list-style-type: none;
  padding: 0;
  width: 93%;
  margin: auto;

  li {
    margin: 4px 0;
  }

  li.message {
    width: fit-content;
    max-width: 60%;
    font-size: 20px;
    padding: 8px 8px 5px 8px;
    border-radius: 10px;
  }

  li.message.notFromUser {
    background-color: rgba(#d9d9d9, 0.7);
  }

  li.message.fromUser {
    margin-left: auto;
    background-color: rgba(index.$primary-color, 0.2);
  }

  li.timestamp-label {
    font-size: 12px;
    text-align: center;
  }

  li.message.add-top-gap {
    margin-top: 15px;
  }

  li.timestamp-label:first-child {
    margin-top: 10px;
  }

  li.timestamp-label:not(:first-child) {
    margin-top: 20px;
  }

  li:last-child {
    margin-bottom: 20px;
  }
}
