@use '../index.scss';

button {
  padding: 0;
  border: none;
  background: none;
  margin-left: auto;
}

img.submission-arrow {
  width: 100%;
  float: right;
}

img.submission-arrow:hover {
  cursor: pointer;
  rotate: 4deg;
  filter: drop-shadow(2px 4px 1px index.$primary-color);
}

@keyframes shake {
  0%,
  40%,
  80% {
    transform: rotate(4deg);
  }
  20%,
  60%,
  100% {
    transform: rotate(-4deg);
  }
}

.shake {
  filter: none !important;
  animation: shake 1s ease-in-out;
  animation-iteration-count: 1;
}

img.submission-arrow.selected {
  rotate: 4deg;
  filter: drop-shadow(2px 4px 1px index.$primary-color);
}
